<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="editMemberSubscription" class="modal fade" id="editMemberSubscriptionModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form th:action="@{/subscription/save}" method="post" th:object="${model}" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cập nhật gói</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input hidden="hidden" name="id" th:value="*{id}"/>
                        <input hidden="hidden" name="paypalSubscriptionId" th:value="*{paypalSubscriptionId}"/>
                        <input hidden="hidden" name="isRecurring" th:value="*{isRecurring}"/>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div th:insert="component :: input-date-ranger-v3('Ngày bắt đầu và kết thúc', 'startEndString', *{startEndString}, true, false, 'DD/MM/YYYY', 3, 0, false)"></div>
                                <p th:if="${#fields.hasErrors('startEndString')}" th:errors="*{startEndString}" class="text-danger m-0"></p>
                            </div>
<!--                            <div class="form-group">-->
<!--                                <div th:replace="component :: input-enable-v3('Định kỳ', 'isRecurring', *{isRecurring}, false, 'Có', 'Không')"></div>-->
<!--                                <p th:if="${#fields.hasErrors('isRecurring')}" th:errors="*{isRecurring}" class="text-danger m-0"></p>-->
<!--                            </div>-->
                            <div th:with="
                                    options=${T(java.util.Arrays).asList(-1, 'Đã hủy', 0, 'Hết hạn', 1, 'Hoạt động', 2, 'Đang chờ', 3, 'Gia hạn thất bại')}">
                                <div th:replace="component :: select-default-v2('Trạng thái', 'statusSubscription', *{statusSubscription}, true, false, ${options})"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div th:insert="component :: input-number-v2('Số buổi đã đi', 'numberOfVisit', *{numberOfVisit}, 0, null, false, false, false)"></div>
                                <p th:if="${#fields.hasErrors('numberOfVisit')}" th:errors="*{numberOfVisit}" class="text-danger m-0"></p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button type="button" class="btn btn-danger" th:disabled="${model.isRecurring == 0
              or model.paypalSubscriptionId == null
              or model.paypalSubscriptionId == ''
              or model.statusSubscription != 1
              or !#strings.startsWith(model.paypalSubscriptionId, 'I-')}" th:onclick="|event.stopPropagation(); cancelSubscription()|">Hủy định kỳ</button>
                    <button type="button" class="btn btn-primary" th:disabled="${model.isRecurring == 1
              or model.paypalSubscriptionId == null
              or model.paypalSubscriptionId == ''
              or model.statusSubscription != 1
              or !#strings.startsWith(model.paypalSubscriptionId, 'I-')
              or allowResub == null}" th:onclick="|event.stopPropagation(); reSubscribe()|">Đăng ký định kỳ lại</button>
                    <button type="submit" class="btn btn-success mr-2">Lưu</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
        <form id="cancelForm" th:action="@{/subscription/pause/{id}(id=${model.id})}" method="post">
            <input hidden="hidden" name="id" value=""/>
        </form>
        <form id="resumeForm" th:action="@{/subscription/resume/{id}(id=${model.id})}" method="post">
            <input hidden="hidden" name="id" value=""/>
        </form>
    </div>
    <script>
        function cancelSubscription() {
            Swal.fire({
                title: 'Xác nhận hủy định kỳ',
            text: 'Bạn có chắc muốn hủy định kỳ gói này không',
            icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: 'Xác nhận',
            cancelButtonText: 'Hủy'
        }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("cancelForm").submit();
                }
            });
        }

        function reSubscribe() {
            Swal.fire({
                title: 'Xác nhận đăng ký lại định kỳ',
                text: 'Bạn có chắc muốn đăng ký định kỳ lại gói này không',
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: 'Xác nhận',
                cancelButtonText: 'Hủy'
            }).then((result) => {
                if (result.isConfirmed) {
                    document.getElementById("resumeForm").submit();
                }
            });
        }
    </script>
</div>

<div th:fragment="memberSubscriptionDetail" class="modal fade" id="memberSubscriptionDetail">
<div class="modal-dialog modal-dialog-centered modal-sm-2">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Chi tiết</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <table class="table custom-table table-bordered table-sm table-striped">
                <tbody id="body-detail">
                <tr>
                    <td style="font-weight: bold;">Tên gói</td>
                    <td th:text="${model.membership.name}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Ngày bắt đầu</td>
                    <td th:text="${#dates.format(new java.util.Date(model.startAt), 'dd/MM/yyyy')}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Ngày kết thúc</td>
                    <td th:text="${#dates.format(new java.util.Date(model.endAt), 'dd/MM/yyyy')}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Trạng thái</td>
                    <td>
                        <span th:if="${model.status == 3}" class="badge badge-warning" style="white-space: normal; cursor: pointer">Gia hạn thất bại</span>
                        <span th:if="${model.status == 2}" class="badge badge-warning" style="white-space: normal; cursor: pointer">Đang chờ</span>
                        <span th:if="${model.status == 1}" class="badge badge-success" style="white-space: normal; cursor: pointer">Hoạt động</span>
                        <span th:if="${model.status == 0}" class="badge badge-secondary" style="white-space: normal; cursor: pointer;">Hết hạn</span>
                        <span th:if="${model.status == -1}" class="badge badge-danger" style="white-space: normal; cursor: pointer;">Đã hủy</span>
                    </td>
                </tr>
                <tr th:if="${model.membership.totalVisit != null and model.membership.totalVisit != 0}">
                    <td style="font-weight: bold;">Số buổi đã đi</td>
                    <td th:text="${model.numberOfVisit + ' của ' + model.membership.totalVisit}" style="align-content: center;"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Định kỳ</td>
                    <td>
                        <span th:if="${model.isRecurring == 1}" class="badge badge-success" style="white-space: normal; cursor: pointer">Có</span>
                        <span th:if="${model.isRecurring == 0}" class="badge badge-danger" style="white-space: normal; cursor: pointer;">Không</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Giá</td>
                    <td th:text="${'$' + model.membership.price}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Loại gói</td>
                    <td>
                        <span th:if="${model.membership.type == 0}" class="badge badge-success" style="white-space: normal; cursor: pointer">Gói thường</span>
                        <span th:if="${model.membership.type == 1}" class="badge badge-warning" style="white-space: normal; cursor: pointer;">Gói thêm</span>
                    </td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Ngày tạo</td>
                    <td th:text="${#dates.format(new java.util.Date(model.createdAt), 'dd/MM/yyyy')}"></td>
                </tr>
                <tr>
                    <td style="font-weight: bold;">Ngày sửa</td>
                    <td th:text="${#dates.format(new java.util.Date(model.updatedAt), 'dd/MM/yyyy')}"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer justify-content-end">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
        </div>
    </div>
</div>
</div>

<div th:fragment="addPayment" class="modal fade" id="addPayment" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <form th:action="@{/payment/save-cash}" method="post" th:object="${model}" enctype="multipart/form-data" id="create-payment-form">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Thanh toán</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input hidden="hidden" name="memberId" th:value="*{memberId}"/>
                        <input hidden="hidden" name="tab" th:value="*{tab}" id="payment-hidden-tab"/>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div th:insert="component :: input-text('Mô tả', 'description', *{description}, 0, 255, true, false)"></div>
                                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger m-0"></p>
                            </div>
                            <div th:with="
                                    options=${T(java.util.Arrays).asList('paypal', 'Paypal', 'cash', 'Tiền mặt')}">
                                <div th:replace="component :: select-default-v2('Phương thức', 'paymentGatewaySelect', *{paymentGateway}, true, false, ${options})"></div>
                            </div>
                            <input hidden="hidden" name="paymentGateway" id="paymentGateway"></input>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <div th:insert="component :: input-number-v2('Số tiền', 'amount', *{amount}, 1, null, false, false, false)"></div>
                                <p th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}" class="text-danger m-0"></p>
                            </div>
                            <div th:with="
                                    options=${T(java.util.Arrays).asList( 1, 'Thu phí', 0, 'Hoàn trả')}">
                                <div th:replace="component :: select-default-v2('Loại thanh toán', 'type', *{type}, true, false, ${options})"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success mr-2" id="create-payment">Thanh toán</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </form>
    </div>
    <script th:inline="javascript">
        $(function() {
            const urlParams = new URLSearchParams(window.location.search);
            var tab = urlParams.get("tab");
            if(tab == null) tab = 1
            $("#payment-hidden-tab").val(tab)
            $("#paymentGateway").val($("#paymentGatewaySelect").val());
            $("#paymentGatewaySelect").on("change", function() {
                $("#paymentGateway").val($(this).val());
            });
            $('#addPayment #type').on('change', function() {
                if ($(this).val() == 0) {
                    $('#addPayment #paymentGatewaySelect').val('cash').prop('disabled', true);
                    $("#paymentGateway").val('cash');
                } else {
                    $('#addPayment #paymentGatewaySelect').prop('disabled', false);
                }
            });
            $("#addPayment #create-payment").click(function() {
                if($('#addPayment #paymentGateway').val() == 'paypal'){
                    var cashPayment = [[@{/payment/save-paypal}]];
                    $("#create-payment-form").attr("action", cashPayment);
                }
                else {
                    var cashPayment = [[@{/payment/save-cash}]];
                    $("#create-payment-form").attr("action", cashPayment);
                }
            });
        });
    </script>
</div>

<div th:fragment="addMemberSubscription" class="modal fade" id="addMemberSubscription" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Đăng ký gói</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form th:action="@{/subscription/save}" method="post" th:object="${model}" enctype="multipart/form-data">
                    <div class="modal-body">
                        <input hidden="hidden" name="memberId" th:value="*{memberId}"></input>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div th:insert="component :: select2-v4('GET', 'Các gói', 'membershipId', *{membershipId}, '/membership/ajax-search/' + *{memberId},' Nhập gói', '' , true, false, 0, null)"></div>
                                    <p th:if="${#fields.hasErrors('membershipId')}" th:errors="*{membershipId}" class="text-danger m-0"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div th:replace="component :: input-enable-v3('Định kỳ', 'isRecurring', *{isRecurring}, false, 'Có', 'Không')"></div>
                                    <p th:if="${#fields.hasErrors('isRecurring')}" th:errors="*{isRecurring}" class="text-danger m-0"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div th:with="
                                    options=${T(java.util.Arrays).asList('paypal', 'Paypal', 'cash', 'Tiền mặt')}">
                                        <div th:replace="component :: select-default-v2('Phương thức', 'paymentGateway', *{paymentGateway}, true, false, ${options})"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success mr-2">Thanh toán</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                    </div>
                </form>
            </div>
        <script>
            $(document).ready(function() {
                let paymentGateway = 'paypal';
                let type = 0;
                $('#isRecurring').val('0');

                $('#paymentGateway').on('change', function() {
                    var selected = $(this).val();

                    if (selected === 'cash') {
                        paymentGateway = 'cash'
                        updateData()
                    } else {
                        paymentGateway = 'paypal';
                        updateData()
                    }
                });

                let value = $('#membershipId').text();
                if(value.includes("gói thêm"))
                {
                    type = 1
                    updateData()
                }
                $('#membershipId').on('change', function () {
                    let value = $("#membershipId option:selected").text();
                    if(value.includes("gói thêm"))
                    {
                        type = 1;
                        updateData()
                    }
                    else {
                        type = 0;
                        updateData()
                    }
                });
                function updateData() {
                    if(type === 1 || paymentGateway === 'cash') {
                        $('.bootstrap-switch-id-isRecurringCheck').hide();
                        $("#isRecurringCheck").bootstrapSwitch('state', false);
                        $("label[for='isRecurringCheck']").hide();
                        $('#isRecurring').val('0');
                    }
                    else {
                        $('.bootstrap-switch-id-isRecurringCheck').show();
                        $("label[for='isRecurringCheck']").show();
                    }
                }
            });
        </script>
    </div>
</div>

<div th:fragment="recalculateDate" class="modal fade" id="recalculateDate" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tính lại ngày</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form th:action="@{/subscription/recalculate}" method="post" th:object="${model}" enctype="multipart/form-data">
                <div class="modal-body">
                    <input hidden="hidden" name="type" th:value="*{type}"></input>
                    <input hidden="hidden" name="id" th:value="*{id}"></input>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div th:insert="component :: input-datetimepicker('Ngày bắt đầu', 'dateString', *{dateString}, 'DD/MM/YYYY', true, false)"></div>
                                <p th:if="${#fields.hasErrors('dateString')}" th:errors="*{dateString}" class="text-danger m-0"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success mr-2">Tính toán</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>

  