<!DOCTYPE html>
<html lang="en" layout:decorate="~{cms_layout_1.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script src="https://cdn.jsdelivr.net/npm/autonumeric@4.6.0/dist/autoNumeric.min.js"></script>
</head>
<body>
<!-- Main content -->
<div class="content" layout:fragment="page_content">
    <div class="container-fluid justify-content-center">
        <div class="card card-default">
            <div class="card-body">
                <form th:action="@{/coin/save-coin}" method="post" id="coin-form">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex align-items-center">
                                <label th:for="coinPriceInput" class="mb-0 mr-2 text-nowrap">
                                    Giá 1 xu
                                </label>
                                <input type="text" id="coinPriceInput" name="coinPriceInput" style="height: 31px"
                                           class="form-control" required>
                                <input type="text" hidden="hidden" th:value="${coinPrice}" name="coinPrice" id="coinPrice">
                            </div>
                        </div>
                        <div class="col-8 text-left">
                            <button type="submit" style="cursor: pointer; height: auto;" class="btn btn-primary my-0 mx-1">
                                <i class="fa-regular fa-floppy-disk"></i><span class="px-2">Lưu</span>
                            </button>
                            <a th:href="@{/coin/form}" style="cursor: pointer; height: auto;" class="btn btn-primary my-0 mx-1">
                                <i class="fas fa-plus"></i><span class="px-2">Tạo mới</span>
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="card card-default">
            <div class="card-body">
                <div class="table-responsive mb-2 mt-3">
                    <table id="table-list" class="table table-sm custom-table table-bordered table-hover text-center" style="table-layout: auto; width: 100%; font-weight: 600;">
                        <thead class="thead-light align-content-center">
                        <tr>
                            <th>Số xu tối thiểu</th>
                            <th>Phần trăm tặng</th>
                            <th>Trạng thái</th>
                            <th>Ngày tạo</th>
                            <th>Chức năng</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="model,item : ${models}" th:attr="data-id=${model.id}">
                            <td style="align-content: center;" th:text="${model.minCoins}"></td>
                            <td style="align-content: center;" th:text="${model.bonusPct + '%'}"></td>
                            <td style="align-content: center;">
                                <span th:if="${model.status == 0}" class="badge badge-danger" style="white-space: normal; cursor: pointer;">Không hoạt động</span>
                                <span th:if="${model.status == 1}" class="badge badge-success" style="white-space: normal; cursor: pointer">Hoạt động</span>
                            </td>
                            <td th:text="${#dates.format(new java.util.Date(model.createdAt), 'dd/MM/yyyy HH:mm:ss')}" style="align-content: center;"></td>
                            <td style="align-content: center;">
                                <div class="d-flex flex-row justify-content-center">
                                    <a th:href="@{'/coin/form?id=' + ${model.id}}" class="btn" title="Sửa">
                                        <i class="far fa-edit" style="color: #00709e;"></i>
                                    </a>
                                    <a th:attr="onclick=|event.stopPropagation(); deleteRecord({action: '@{'/coin/delete/'+${model.id}}', method: 'POST',title: 'Xác nhận xóa',text: 'Bạn có chắc muốn xóa cái này không'})|" style="cursor: pointer; align-content: center;" title="Xóa" class="btn btn-sm">
                                        <i class="fas fa-trash-alt" style="color: #ff0000;"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                        <tr th:if="${models?.size() == 0}">
                            <td colspan="100" th:text="#{noResult}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <hungtvt-pagination th:replace="buu-component :: pagination(${pageNo}, ${totalPage}, ${pageSize}, 'buuPageSize', 'buuPagination')"></hungtvt-pagination>
            </div>
        </div>
    </div>
</div>
<!-- PAGE JAVASCRIPT CODE -->
<script layout:fragment="content_page_script">
    document.addEventListener('DOMContentLoaded', (event) => {

        let initialValue = '[[${coinPrice}]]'

        const dollarOptions = {
            // --- Symbol and Placement ---
            currencySymbol: '$',           // The currency symbol is now '$'
            currencySymbolPlacement: 'p',  // 'p' for PREFIX (places it before the number, e.g., $1,234.56)

            // --- Value Range and Precision ---
            minimumValue: '0',             // Keep this to disallow negative values
            maximumValue: '9999999',    // Adjust to a reasonable maximum value for your needs
            decimalPlaces: 0,              // Standard for currency

            // --- Other Formatting ---
            decimalCharacter: '.',         // Standard decimal point
            digitGroupSeparator: ',',      // Use a comma for the thousands separator (e.g., 1,000)

            // --- Behavior on Empty ---
            emptyInputBehavior: 'zero',    // Optional: Shows '$0.00' when the input is empty
        };
        const discountInput = new AutoNumeric('#coinPriceInput',initialValue, dollarOptions);

        document.getElementById('coin-form').addEventListener('submit', (event) => {
            const rawValue = discountInput.getNumber();

            let hiddenInput = document.getElementById('coinPrice');
            hiddenInput.value = rawValue;
        });
    });
</script>
</body>
</html>