#chart-container {
    position: relative;
    width: 350px;
    height: 350px;
    margin: auto auto;
}
#chart {
    width: 100%;
    height: 100%;
}

.content-container{
    display: flex;
    border: 1px solid #333;
}

.eye-icon {
    cursor: pointer;
}
/*.modal {*/
/*    display: none;*/
/*    position: fixed;*/
/*    z-index: 1;*/
/*    left: 0;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    overflow: auto;*/
/*    background-color: rgb(0,0,0);*/
/*    background-color: rgba(0,0,0,0.4);*/
/*}*/

/*.modal-content {*/
/*    background-color: #fefefe;*/
/*    margin: 15% auto;*/
/*    padding: 20px;*/
/*    border: 1px solid #888;*/
/*    width: 80%;*/
/*}*/

/*.close {*/
/*    color: #aaa;*/
/*    float: right;*/
/*    font-size: 28px;*/
/*    font-weight: bold;*/
/*}*/

/*.close:hover,*/
/*.close:focus {*/
/*    color: black;*/
/*    text-decoration: none;*/
/*    cursor: pointer;*/
/*}*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    overflow-y: scroll;
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    margin: auto;
    max-height: 80vh;
}
.modal-content::-webkit-scrollbar {
    display: none;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}