<!DOCTYPE html>
<html lang="en" layout:decorate="~{cms_layout_1.html}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" th:href="@{/css/member/detail.css}">
</head>
<body>
<!-- Main content -->
<div class="content" layout:fragment="page_content">
    <div class="container-fluid pl-5 pr-5">
        <div class="row pt-3 mb-3" >
            <div class="col-md-6">
                <div class="member-name-label" th:text="${title}"></div>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
            </div>
        </div>
    </div>

    <div class="container-fluid pl-5 pr-5">
        <form th:action="@{/trainer/save}" method="post" th:object="${model}" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-3">
                    <div class = "pfp-container" id="image">
                        <img th:src="${@environment.getProperty('domain.nginx')} + ${image}" class="buuPreviewImage rounded-circle" th:if="${image!=null}"/>
                        <img th:src="@{/img/no_pfp_male.jpg}" class="buuPreviewImage rounded-circle"
                             th:if="${image == null and model.gender == 1}" />
                        <img th:src="@{/img/no_pfp_female.jpg}" class="buuPreviewImage rounded-circle"
                             th:if="${image == null and model.gender == 0}" />
                        <div>
                            <button type="button" class="btn btn-secondary btn-sm" id="uploadImage"><i class="fas fa-upload"></i> Đăng ảnh</button>
                            <button type="button" class="btn btn-secondary btn-sm" id="takePicture"><i class="fas fa-camera"></i> Chụp ảnh</button>
                        </div>
                        <input type="file" class="buu_file_image" accept="image/*" hidden="hidden" style="cursor: pointer;">
                        <input type="text" class="buu_file_image_data" name="imageUpload" hidden>
                        <div class="buu-modal-crop-image modal fade">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="w-100"><h4 class="modal-title text-center">Cắt ảnh</h4></div>
                                    </div>
                                    <div class="modal-body">
                                        <div class="d-flex flex-row justify-content-between">
                                            <div class="d-flex flex-column justify-content-between align-items-center h-100" style="width: 100%;">
                                                <img class="buu_image" th:src="@{/img/vn.jpeg}" style="max-width: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                        <button type="button" class="buu_apply_crop_image btn btn-default">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="buu-modal-camera modal fade" id="cameraModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Chụp ảnh</h5>
                                    </div>
                                    <div class="modal-body text-center">
                                        <!-- Video stream will be shown here -->
                                        <video id="camera-stream" width="400" height="300" autoplay playsinline></video>
                                        <!-- Canvas is used for capturing the frame, can be hidden -->
                                        <canvas id="camera-canvas" width="400" height="300" style="display: none;"></canvas>
                                    </div>
                                    <div class="modal-footer justify-content-center">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                                        <button type="button" id="snap-picture-btn" class="btn btn-primary"><i class="fas fa-camera"></i> Chụp</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link active" id="detail-tab" data-toggle="tab" href="#detail" role="tab">Chi tiết</a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content pt-3 tab-style ">
                        <div class="tab-pane fade active show" id="detail" role="tabpanel">
                            <input type="hidden" name="id" th:value="${model.id}">
                            <input type="hidden" name="status" th:value="${model.status}">
                            <div class="container-fluid pt-2">
                                <div class="row">
                                    <div class="col-md-6 pl-4 pr-2">
                                        <div class="detail-title-container">
                                            <i class="fas fa-user" style="font-size: 1.1rem"></i>
                                            <span class="detail-title">Chi tiết</span>
                                        </div>
                                        <div class="detail-content-container">
                                            <div class="form-group d-flex align-items-center">
                                                <label for="firstName" class="mr-2 label-fixed">Tên <span style="color: red;">*</span></label>
                                                <input required name="firstName" type="text" id="firstName" th:value="${model.firstName}" class="form-control">
                                            </div>

                                            <div class="form-group d-flex align-items-center">
                                                <label for="lastName" class="mr-2 label-fixed">Họ <span style="color: red;">*</span></label>
                                                <input required name="lastName" type="text" id="lastName" th:value="${model.lastName}" class="form-control">
                                            </div>

                                            <div class="form-group d-flex align-items-center">
                                                <label for="dateOfBirth" class="mr-2 label-fixed" style="width: 100px;">Ngày sinh</label>

                                                <div class="input-group date flex-grow-1" id="dateOfBirth">
                                                    <input required name="dateOfBirthString" type="text" th:value="${model.dateOfBirthString}" class="form-control">
                                                    <div class="input-group-addon input-group-append">
                                                        <div class="input-group-text">
                                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center">
                                                <label for="hireDate" class="mr-2 label-fixed" style="width: 100px;">Ngày thuê</label>

                                                <div class="input-group date flex-grow-1" id="hireDate">
                                                    <input required name="hireDateString" type="text" th:value="${model.hireDateString}" class="form-control">
                                                    <div class="input-group-addon input-group-append">
                                                        <div class="input-group-text">
                                                            <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center">
                                                <label class="mr-2 label-fixed">Giới tính <span style="color: red;">*</span></label>
                                                <div class="radio-group d-flex align-items-center">
                                                    <div class="form-check form-check-inline mb-0">
                                                        <input class="form-check-input" type="radio" name="option" id="male" value="1" th:checked="${model.gender == 1}">
                                                        <label class="form-check-label" for="male">Nam</label>
                                                    </div>
                                                    <div class="form-check form-check-inline mb-0">
                                                        <input class="form-check-input" type="radio" name="option" id="female" value="0" th:checked="${model.gender == 0}">
                                                        <label class="form-check-label" for="female">Nữ</label>
                                                    </div>
                                                    <input type="hidden" id="gender" name="gender" th:value="${model.gender}">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="bio">Bio</label>
                                                <textarea id="bio" name="bio" th:text="${model.bio}" class="form-control" style="height: 195px"></textarea>
                                            </div>
                                            <a th:href="@{/trainer/index}" class="btn btn-danger float-left mt-1 mb-3 mr-3" style="width: 90px; height: 30px" >Quay lại</a>
                                            <button type="submit" class="btn btn-success float-left mt-1 mb-3" style="width: 90px; height: 30px" >Lưu</button>
                                        </div>


                                    </div>
                                    <div class="col-md-6 pl-2 pr-4">
                                        <div class="detail-title-container">
                                            <i class="fas fa-mobile-alt" style="font-size: 1.1rem"></i> <span class="detail-title">Liên lạc</span>
                                        </div>
                                        <div class="detail-content-container">
                                            <div class="form-group d-flex align-items-center">
                                                <label for="email" class="mr-2 label-fixed">Email</label>
                                                <div class="input-group">
                                                    <input type="text" name="email" id="email" th:value="${model.email}" class="form-control">
                                                    <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group d-flex align-items-center">
                                                <label for="phoneNumber" class="mr-2 label-fixed">SĐT <span style="color: red;">*</span></label>
                                                <div class="input-group">
                                                    <input required type="text" name="phoneNumber" id="phoneNumber" th:value="${model.phoneNumber}" class="form-control">
                                                    <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fas fa-mobile-alt"></i>
                                                </span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group d-flex align-items-center">
                                                <label for="city" class="mr-2 label-fixed">Tỉnh/Thành phố</label>
                                                <input type="text" name="city" id="city" th:value="${model.city}" class="form-control">
                                            </div>

                                            <div class="form-group d-flex align-items-center">
                                                <label for="district" class="mr-2 label-fixed">Quận/Huyện</label>
                                                <input type="text" name="district" id="district" th:value="${model.district}" class="form-control">
                                            </div>

                                            <div class="form-group">
                                                <label for="address">Địa chỉ</label>
                                                <input type="text" name="address" id="address"  th:value="${model.address}" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- PAGE JAVASCRIPT CODE -->
<script layout:fragment="content_page_script">

    $(".content-header").remove();
    $('input[name="option"]').on('change', function() {
        $('#gender').val($(this).val());
    });
    $('#dateOfBirth').datetimepicker({
        allowInputToggle: true,
        showClose: true,
        showClear: true,
        showTodayButton: true,
        format: 'DD/MM/YYYY',
        icons: {
            time: 'fa fa-clock',
            date: 'fa fa-calendar',
            up: 'fa fa-arrow-up',
            down: 'fa fa-arrow-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });
    $('#hireDate').datetimepicker({
        allowInputToggle: true,
        showClose: true,
        showClear: true,
        showTodayButton: true,
        format: 'DD/MM/YYYY HH:mm',
        icons: {
            time: 'fa fa-clock',
            date: 'fa fa-calendar',
            up: 'fa fa-arrow-up',
            down: 'fa fa-arrow-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-calendar-check',
            clear: 'fa fa-trash',
            close: 'fa fa-times'
        }
    });

    $(() => {
        let id = 'image';
        let cropper = "";

        //======== BEGIN REUSABLE CROPPER FUNCTION ========
        // We move the cropper logic into its own function
        function initializeCropper(imageDataUrl) {
            let image = document.querySelector('#' + id + ' .buu_image');
            image.setAttribute("src", imageDataUrl);

            if (cropper) {
                cropper.destroy();
            }

            cropper = new Cropper(image, {
                aspectRatio: 1 / 1,
                viewMode: 1,
                minContainerWidth: 250,
                minContainerHeight: 250,
            });

            $('#' + id + ' .buu-modal-crop-image').modal('show');
        }

        //======== BEGIN FILE UPLOAD LOGIC (Existing code, slightly modified) ========
        $('#uploadImage').click(function() {
            $('#' + id + ' .buu_file_image').click();
        });

        $('#' + id + ' .buu_file_image').change(function(e) {
            if (e.target.files.length == 0) return;

            let reader = new FileReader();
            reader.readAsDataURL(e.target.files[0]);
            reader.onload = () => {
                // Call our new reusable function
                initializeCropper(reader.result);
            };
        });

        //======== BEGIN CAMERA LOGIC (New code) ========
        const cameraModal = $('#cameraModal');
        const video = document.getElementById('camera-stream');
        const canvas = document.getElementById('camera-canvas');
        let cameraStream = null;

        $('#takePicture').click(async function() {
            // Check for browser support
            if ('mediaDevices' in navigator && 'getUserMedia' in navigator.mediaDevices) {
                try {
                    // Request the camera stream
                    cameraStream = await navigator.mediaDevices.getUserMedia({ video: true });
                    video.srcObject = cameraStream;
                    cameraModal.modal('show');
                } catch (err) {
                    console.error("Error accessing camera: ", err);
                    alert("Could not access the camera. Please ensure you have given permission.");
                }
            } else {
                alert("Your browser does not support camera access.");
            }
        });

        $('#snap-picture-btn').click(function() {
            // Draw the current video frame to the canvas
            const context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, canvas.width, canvas.height);

            // Get the image data from the canvas as a Base64 string
            const imageDataUrl = canvas.toDataURL('image/png');

            // Hide the camera modal
            cameraModal.modal('hide');

            // Now, use our reusable function to start the cropper!
            initializeCropper(imageDataUrl);
        });

        // Clean up: Stop the camera stream when the modal is closed
        cameraModal.on('hidden.bs.modal', function () {
            if (cameraStream) {
                cameraStream.getTracks().forEach(track => track.stop());
            }
        });


        //======== BEGIN CROP APPLY LOGIC (Unchanged) ========
        $('#' + id + ' .buu_apply_crop_image').click(function(e) {
            e.preventDefault();
            let imgSrc = cropper.getCroppedCanvas({}).toDataURL("image/png", 0.75);

            $('#' + id + ' .buuPreviewImage').attr("src", imgSrc);
            $('#' + id + ' .buu_file_image_data').val(imgSrc);
            console.log($('#' + id + ' .buu_file_image_data').val())
            $('#' + id + ' .buu-modal-crop-image').modal('hide');
        });
    });

</script>
</body>
</html>